.space-between {
    display: flex;
    justify-content: space-between;
}

.top-item {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 3px;

}

.item-color {
    color: #1d4e89;
}

.scale {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #1d4e89;
    border-right: 2px solid #1d4e89;
}

.right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: -10px;
}

.left {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-right: -10px;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #1d4e89;
}