body {
  background-color: #b4d6cc;
}

.rotate-device {
  background-color: #7dcfb6;
  min-width: 100svw;
  min-width: 100vw;
  min-height: 100svh;
  min-height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-page {
  margin: 2%;
}

.bottom-cards {
  border: 1px solid;
  padding: 8px 10px;
}

.board-container {
  background-color: #7dcfb6;
  margin-top: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
}

.card-container {
  border: 1px solid black;
  width: 100px;
  height: 170px;
  background-color: #e6d5b9;
  border-style: solid none none solid;
  border-color: gray;
  box-shadow: -1px -1px 3px lightgray;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: grab;
}

.current-card:hover {
  background-color: #e8dbc8;
}

.card-heading {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  display: flex;
  align-items: center;
}

.card-text span {
  margin-left: 10px;
  font-weight: 200;
  font-size: 35px;
  line-height: 0.8em;
}

.bottom-image {
  max-height: 50px;
  max-width: 100%;
}

/* Dropzone */
.dropzone {
  width: 20px;
  flex: 0 0 auto;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
  transform: scaleX(5);
  opacity: 0;
}

.dropzone.selected {
  width: 100px;
  flex: 0 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 10px;
  border-radius: 4px;
  transform: scaleX(1);
  opacity: 0.5;
}

/* MODAL */
.restartBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #f79256;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

.bottom-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 200px;
  width: 100%;
}

.description-container {
  display: grid;
  grid-template-columns: 1fr;
}

.description-box {
  background-color: white;
  height: 100px;
  width: 170px;
  padding: 8px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-start: 1;
  grid-column-start: 1;
}

.description {
  font-weight: 600;
  font-size: 16px;
  color: #1d4e89;
  hyphens: auto;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dragged:hover {
  cursor: grabbing;
}

.card_and_description_container {
  width: 100%;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  display: none;
}

.rotate-heading {
  margin-bottom: 10px;
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
}

.message {
  margin-top: 40px;
  display: none;
  color: white;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 280px) and (max-width: 653px) {
  .card_and_description_container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .rotate-message {
    padding: 5%;
  }

  .card-container {
    border: 1px solid black;
    width: 45px;
    height: 80px;
    border-style: solid none none solid;
    border-color: gray;
    box-shadow: -1px -1px 3px lightgray;
    overflow: hidden;
  }

  .bottom-image {
    max-width: 40px;
    max-height: 40px;
  }

  .card_and_description_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
  }

  .card-heading {
    margin-left: 10%;
  }

  .card-heading,
  .card-text {
    font-size: 9px;
  }

  .card-text span {
    font-size: 25px;
  }

  .carbon {
    margin: 0;
  }

  .bottom-container {
    display: flex;
    margin-left: 45%;
    width: 10%;
    gap: 105px;
  }

  .description-box {
    width: 60px;
    height: 62px;
    padding: 10px;
    margin-top: 10px;
  }

  .description {
    font-size: 9px;
    overflow: hidden;
  }

  .top-description-box {
    margin-top: 1px;
  }

  .dropzone.selected {
    width: 45px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .rotate-message {
    font-size: 20px;
  }

  .card-container {
    width: 70px;
    height: 120px;
  }
  .dropzone.selected {
    width: 70px;
  }

  .bottom-image {
    max-width: 60px;
    max-height: 45px;
  }

  .card_and_description_container {
    margin-top: 2rem;
  }

  .card-heading,
  .card-text {
    font-size: 13px;
  }

  .card-text span {
    font-size: 18px;
  }

  .bottom-container {
    display: flex;
    gap: 130px;
  }

  .description-box {
    width: 100px;
    height: 90px;
    padding: 0 10px 0 10px;
  }

  .description {
    font-size: 13px;
  }
}
@media (min-width: 820px) and (max-width: 1180px) {
  .description-container {
    margin-top: 0.5rem;
  }
  .description-box {
    width: 120px;
    height: 100px;
  }
  .bottom-container {
    gap: 140px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .card-container {
    width: 95px;
    height: 150px;
  }
  .dropzone.selected {
    width: 100px;
  }

  .bottom-image {
    max-width: 90px;
    max-height: 65px;
  }
  .card-heading,
  .card-text {
    font-size: 18px;
  }

  .card-text span {
    font-size: 28px;
  }
  .card_and_description_container {
    margin-top: 5rem;
  }
  .description-container {
    margin-top: 0.5rem;
  }
  .description-box {
    width: 160px;
    height: 150px;
  }
  .description {
    font-size: 18px;
  }
  .bottom-container {
    gap: 180px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
  .rotate-device {
    z-index: 10;
    display: flex;
  }

  .phone,
  .message {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .card_and_description_container {
    margin-top: 1em;
  }

  .bottom-container {
    margin-top: 0;
  }

  .card-container {
    width: 60px;
    height: 100px;
    padding: 6px 6px;
  }

  .bottom-image {
    max-height: 35px;
    max-width: 95%;
    margin: 0;
  }

  .card-heading,
  .card-text {
    margin: 0;
    font-size: 11px;
  }

  /* Dropzone */
  .dropzone {
    width: 6px;
  }

  .dropzone.selected {
    width: 60px;
    height: 100px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 6px 6px;
  }

  .description-box {
    height: 100px;
    width: 80px;
    padding: 6px 10px;
    margin-top: unset;
    overflow: hidden;
  }

  .description {
    font-size: 11px;
    margin: 0;
  }
}
