body {
  background-color: #b4d6cc;
}
.game-page {
  margin: 2%;
}
.top-section {
  display: flex;
  justify-content: space-between;
}
.top-item {
  font-weight: 700;
  font-size: 15px;
}
.item-color {
  color: #1d4e89;
}

.score-color {
  color: #fb6105;
}

.bottom-cards {
  border: 1px solid;
}
.board-container {
  background-color: #7dcfb6;
  margin-top: 1%;
  padding: 1%;
}

.card-container {
  border: 1px solid black;
  width: 100px;
  height: 170px;
  padding-left: 4%;
  padding-bottom: 1%;
  background-color: white;
  border-style: solid none none solid;
  border-color: gray;
  box-shadow: -1px -1px 3px lightgray;
  border-radius: 4px;
}
.card-container:hover {
  background-color: #e0e0e0;
}
