.home-page {
  background: linear-gradient(
    to left,
    rgb(0, 178, 202),
    rgb(125, 207, 182),
    rgb(140, 226, 200)
  );
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-container section {
  text-align: center;
}

.title {
  color: #1d4e89;
  font-weight: 500;
  font-size: 25px;
}

.start-button {
  background-color: #f79256;
  color: white;
  font-weight: 500;
  font-size: 25px;
  width: 15rem;
  height: 5rem;
  border-radius: 15px;
  border: none;
  margin: 5%;
}
.start-button:hover {
  background-color: #ef9c6a;
}

.instruction-info {
  color: #ea1c00;
  font-weight: 500;
  font-size: 20px;
}
.instruction-info:hover {
  text-decoration: underline;
}

.home_animation {
  transform: none;
  position: relative;
}

@media only screen and (max-width: 667px) {
  .title {
    font-size: 17px;
  }

  .instruction-info {
    font-size: 15px;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  .title {
    font-size: 20px;
  }

  .instruction-info {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 24px;
  }

  .instruction-info {
    font-size: 20px;
  }
}
@media (min-width: 820px) and (max-width: 1180px) {
  .title {
    font-size: 25px;
  }

  .instruction-info {
    font-size: 23px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .title {
    font-size: 32px;
  }

  .instruction-info {
    font-size: 28px;
  }
}
