.instructions-container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: auto;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  border: 1px solid;
  border-radius: 2rem;
  width: 800px;
  height: 590px;
  background-color: #e6d5b9;
  border-color: #e6d5b9;
  color: #1d4e89;
}

.start-button {
  background-color: #f79256;
  color: white;
  font-weight: 500;
  font-size: 25px;
  width: 15rem;
  height: 5rem;
  border-radius: 15px;
  border: none;
  margin: 5%;
  align-self: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.6em;
  color: #1d4e89;
  padding-bottom: 1rem;
}

li {
  margin: 1rem;
  font-size: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}
