nav {
  position: fixed;
  width: 96%;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  top: 14px;
}

.flex-end {
  justify-content: flex-end;
}

.lang_switcher {
  width: 100px;
  height: 40px;
  border-radius: 13px;
  border: none;
  color: #1d4e89;
  font-weight: 650;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FEF7FF;
}

.lang_switcher:hover {
  background-color: lightgray;
}



@media only screen and (max-width: 768px) {

  /* nav {
    position: absolute;
    right: 20px;
    top: 20px;
  } */
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  nav {
    top: unset;
    bottom: 8px;
  }

}