.footer-item {
  text-decoration: none;
}
.footer-item:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 5%;
}

footer a {
  color: #ea1c00;
}

@media only screen and (max-width: 667px) {
 .copyright_text {
  font-size: 12px;
 }
}

@media only screen and (max-width: 896px) {
  .copyright_text {
   font-size: 15px;
  }
 }

 /* Media queries for responsiveness */
@media (min-width: 280px) and (max-width: 653px) {
  .copyright_text {
    font-size: 12px;
   }
   footer {
    margin-top: 5%;
   }
 
}

@media (min-width: 360px) and (max-width: 740px) {
  footer {
    margin-top: 17%;
   }
}
@media (min-width: 375px) and (max-width: 667px) {
  footer {
    margin-top: 10%;
   }
}
@media (min-width: 390px) and (max-width: 844px) {
  footer {
    margin-top: 25%;
   }
}
@media (min-width: 412px) and (max-width: 915px) {
  .copyright_text {
    font-size: 15px;
   }
   footer {
    margin-top: 22%;
   }
}

@media (min-width: 414px) and (max-width: 896px) {

}
@media (min-width: 430px) and (max-width: 932px) {
  .copyright_text {
    font-size: 15px;
   }
   footer {
    margin-top: 30%;
   }

}
@media (min-width: 540px) and (max-width: 720px) {
  footer {
    margin-top: 10%;
   }
}

/* Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    margin-top: 15%;
   }
   .copyright_text {
    font-size: 17px;
   }
  
}

@media (min-width: 820px) and (max-width: 1180px) {
  footer {
    margin-top: 25%;
   }
   .copyright_text {
    font-size: 18px;
}
}

@media (min-width: 1024px) and (max-width: 1366px) {
  footer {
    margin-top: 23%;
   }
  
}

