.top-section {
    margin-top: 100px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-item {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 3px;
}

.item-color {
    color: #1d4e89;
}

@media only screen and (max-width: 768px) {
    .top-item {
        font-size: 12px;
    }

    .top-section {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1024px) {

    .top-section {
        margin-top: 60px;
    }

}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
    .top-section {
        margin-top: -10px;
    }

    .space-between {
        margin: 0 20px;
        align-items: flex-end;
    }

    .top-item {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}