.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-item {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 3px;
}

.item-color {
    color: #1d4e89;
}

@media only screen and (max-width: 768px) {
    .top-item {
        font-size: 12px;
    }

    .top-section {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1024px) {

    .top-section {
        margin-top: 60px;
    }

}

@media only screen and (orientation: landscape) {
    /* Add your CSS rules here */
}