.top-container {
  border: 1px solid black;
  width: 100px;
  height: 170px;
  padding: 8px 10px;
  background-color: #e6d5b9;
  border-style: solid none none solid;
  border-color: gray;
  box-shadow: -1px -1px 3px lightgray;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-image {
  max-height: 50px;
  max-width: 100%;
}

.top-container * {
  pointer-events: none;
}

.top-card-heading {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .top-container {
    width: 45px;
    height: 80px;
  }
  .top-image {
    max-width: 40px;
    max-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-container {
    width: 50px;
    height: 85px;
  }

  .top-container {
    width: 70px;
    height: 120px;
  }

  .top-image {
    max-width: 60px;
    max-height: 45px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .top-container {
    width: 95px;
    height: 150px;
  }

  .top-image {
    max-width: 90px;
    max-height: 65px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .top-container {
    width: 60px;
    height: 100px;
    padding: 6px 8px;
  }

  .top-image {
    max-height: 35px;
    max-width: 95%;
    margin: 0;
  }

  .top-card-heading,
  .top-card-text {
    margin: 0;
    font-size: 11px;
  }
}
