
.top-image {
  max-height: 50px;
  max-width: 100%;
}

.top-container * {
  pointer-events: none;
}

.top-card-heading {
  text-align: center;
}

.correct-guess {
  background-color: green;
}

.incorrect-guess {
  background-color: red;
  border-color: red solid 1px;
  animation: incorrect 0.2s forwards;
}

@keyframes incorrect {
    0%, 7% {transform: rotateZ(0);}
    15% {transform: rotateZ(-8deg);}
    20% {transform: rotateZ(4deg);}
    25% {transform: rotateZ(-5deg);}
    30% {transform: rotateZ(2deg);}
    35% {transform: rotateZ(-2deg);}
    40%, 100% {transform: rotateZ(0);}
}

@media only screen and (max-width: 767px) {
  .top-container {
    width: 45px;
    height: 80px;
  }

  .top-image {
    max-width: 40px;
    max-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-container {
    width: 50px;
    height: 85px;
  }

  .top-container {
    width: 70px;
    height: 120px;
  }

  .top-image {
    max-width: 60px;
    max-height: 45px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .top-container {
    width: 95px;
    height: 150px;
  }

  .top-image {
    max-width: 90px;
    max-height: 65px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .top-container {
    width: 60px;
    height: 100px;
    padding: 6px 8px;
  }

  .top-image {
    max-height: 35px;
    max-width: 95%;
    margin: 0;
  }

  .top-card-heading,
  .top-card-text {
    margin: 0;
    font-size: 11px;
  }
}