@import url('https://fonts.googleapis.com/css2?family=Teachers:wght@300;400;500;700&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Teachers, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Teachers', sans-serif;
  color: #222222;
  background-color: #E8EAD6;
}

h1 {
  font-family: 'Grandstander', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #91B07E;
  margin: 0;
}

h2 {
  font-family: 'Grandstander', sans-serif;
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  color: #82637F;
  margin: 0;
}

h3 {
  color: #222222;
  font-family: 'Teachers', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

p {
  font-family: 'Teachers', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
}

ol {
  list-style-position: inside;
  padding: 0;
}

li {
  font-size: 18px;
  margin-bottom: 18px;
}

li::marker {
  font-family: 'Grandstander';
  color: #82637F;
  font-size: 18px;
  font-weight: 700;
  margin-top: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #E8EAD6;
}

.content {
  width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

button {
  background-color: #3D8787;
  color: #ffffff;
  font-family: 'Grandstander', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 60px;
  border: none;
  padding: 14px 24px 12px 24px;
  align-self: center;
  transition: all ease 0.2s;
}

button:hover {
  background-color: #82637F;
  cursor: pointer;
  animation: play 0.3s;
  animation-iteration-count: 2;
}

@keyframes play {
  0% {
    transform: translateY(0px);
  }
  
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}