:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  padding: 0;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
} */

/* .card-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.card {
  border: 1px solid black;
  margin: 1%;
  padding-left: 1.5%;
  width: 80px;
  height: 170px;
  background-color: white;
  margin-bottom: "10px";
 border-style: solid none none solid;
 border-color: gray;
 box-shadow: -1px -1px 3px lightgray;
border-radius: 4px;

}
.card:hover {
 
  background-color: #e0e0e0;
  
}

img {
  width: 50%;
}