li {
  margin: 10px;
  font-size: 18px;
}

.note {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding-left: 30px;
}

@media (min-width: 280px) and (max-width: 653px) {
  .instructions {
    margin-left: 0;
    font-size: 12px;
    width: 90%;
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  .instructions {
    margin-top: 5rem;
    font-size: 12px;
    width: 90%;
    height: fit-content;
  }

  li {
    font-size: 12px;
  }

  .note {
    font-size: 12px;
  }

  .start-button {
    width: 6rem;
    height: 20px;
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  .instructions {
    margin-left: 0.1rem;
    padding-top: 1rem;
    font-size: 12px;
    width: 90%;
    height: fit-content;
  }

  li {
    font-size: 14px;
  }

  .note {
    font-size: 12px;
    margin: 10px;
  }

  .start-button {
    width: 7rem;
    height: 30px;
    font-size: 14px;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  .start-button {
    width: 8rem;
    height: 35px;
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  .note {
    font-size: 16px;
    margin: 10px;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  li {
    font-size: 16px;
  }

  .start-button {
    height: 35px;
  }
}

@media (min-width: 414px) and (max-width: 896px) {}

@media (min-width: 430px) and (max-width: 932px) {}

@media (min-width: 540px) and (max-width: 720px) {
  .instructions {
    height: fit-content;
    margin-left: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .instructions {
    margin: 6rem 0 0 6rem;
    padding: 2rem 0 2rem 0;
    font-size: 16px;
    width: 75%;
  }

  li {
    font-size: 18px;
  }

  .note {
    font-size: 18px;
    margin: 20px;
  }

  .start-button {
    height: 40px;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .instructions {
    margin: 7rem 0 0 4.2rem;
    padding: 2rem;
    font-size: 20px;
    width: 75%;
  }

  li {
    font-size: 22px;
  }

  .note {
    font-size: 22px;
    margin: 20px;
  }

  .start-button {
    height: 40px;
    width: 10rem;
    font-size: 22px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .instructions {
    margin: 10rem 0 0 5rem;
    padding: 2rem 1rem 0 1rem;
    font-size: 22px;
    width: 80%;
  }

  li {
    font-size: 26px;
  }

  .note {
    font-size: 26px;
    margin: 20px;
  }

  .start-button {
    font-size: 26px;
    width: 30%;
  }
}